#team .card {
  width: 18rem;
  margin-right: auto !important;
}

#team .card img {
  width: 155px;
  max-height: 260px;
  object-fit: cover;
  margin: auto;
}

/* Flaired edges, by Tomas Theunissen */

hr {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

hr:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.lead {
  font-size: 2rem;
}

#team .lead, #about .lead {
  font-size: 1.5rem;
}

#team-cards {
  margin: auto;
}

@media screen and (max-width: 768px) {
  #team .card {
    margin-left: 0.25rem;
    width: 100%;
  }
}

#about .display-4 {
  font-size: 1.75rem;
}

section, .jumbotron {
  position: relative; /* needed for footer positioning*/
  height: auto !important; /* real browsers */
  min-height: 100%; /* real browsers */
  padding-top: 50px;
}