#team .card {
  width: 18rem;
}

#team .card img {
  width: 155px;
  max-height: 260px;
  object-fit: cover;
  margin: auto;
}

/* Flaired edges, by Tomas Theunissen */

#team hr {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

#team hr:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}